body
{
    background-color: gray;
}

#inputsearch
{
    width: 175px;
    height: 35px;
    margin-top: 17.5px;
}

#procurar
{
    float: right;
    margin-right: 20px;
}

#procurar button
{
    height: 35px;
    margin-top: -5px;
}

#logo
{
    padding: 0px;
    width: 210px;
    height: 52.5px;
    margin-left: 20px;
}

#containerMain
{
    background-color: rgb(14, 5, 65);
    padding: 0px;
}

#containerBody
{
    border-radius: 10px;
    background-color: white;
    padding: 0px;
    min-width: 242px;
    justify-content: left;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#ajustemargin
{
    padding: 20px 10% 20px 10%;
}

h1
{
    color: white; 
    text-align: center; 
    font-family: 'Yeseva One', cursiva; 
    font-weight: bolder; 
    font-size: 20%;
}

#estilo
{
    color:rgb(14, 5, 65); 
    width: 35%; 
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1000px) 
{   
    h3{
        font-size: 70%;
    }
    #containerBody{
    font-size: 50px;
    }
}

#layout
{
    display: none;
}